header{
    width:1200px;
    overflow:Hidden;
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap:wrap;
    position:center;
    box-sizing:border-box;
    background-color:bisque;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:20px;
}
#logo{

position: relative;
    height:300px;
    width: 320px;
    left: 10px;
}
@media only screen and (max-width:600px){
    header ul{
        display:none;
    }
}